body{
    margin: 0;
    z-index: 0;
}
h1{
    position: absolute;
    color: white;
    margin-left: 25px;
    z-index: 2;
}
p{
    position: absolute;
    color: white;
    margin-top: 65px;
    margin-left: 25px;
    z-index: 2;
}
.container {

    background: #000;
    position:absolute;
    height:125px;
    width:460px;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 25px;
  }
